@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
padding: 20px;
display: flex;
align-items: center;
max-width: 800px;
margin: 0 auto;
color:rgb(107, 71, 47);
border-bottom: 1px solid #f2f2f2;
  
}
.navbar h1 {
color: rgb(209, 164, 170);
margin-left: auto;

}
.navbar .links {
margin-left: auto;

}
.navbar a {
margin-left: 16px;
text-decoration: none;
padding: 60px;
font: bolder;
font-size: large;
font-weight: 500;
color:rgb(107, 18, 129)
}
.navbar a:hover {
  color: rgb(209, 164, 170);
}
.content {
max-width: 600px;
margin: 40px auto;
padding: 20px;
}

/* blog previews / list */
.blog-preview {
padding: 10px 16px;
margin: 20px 0;
border-bottom: 1px solid #fafafa;
 
}
.blog-preview:hover {
box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
font-size: 20px;
color: #222e97;
margin-bottom: 8px;
text-align: center;
}
.blog-preview a{
text-decoration: none;
}

/* blog details page */
.blog-details h2 {
font-size: 25px;
color: #0e311a;
margin-bottom: 15px;
margin-top: 50px;
padding-top: 50px;
text-align: center;
}
.blog-details h1 {
font-size: 20px;
color: #053a0c;
margin-bottom: 10px;
}

.blog-details image {
margin: 200px 0;

}
.blog-details div {
margin-left: 50px;
margin-top:20px;
color:cadetblue
}

  .blog-details p {
margin: 20px 0;
text-align: center;
color: rgb(22, 31, 26);
}

.blog-details h3 {
  margin: 20px 0;
  text-align: center;
  font-size: small;
  color: cadetblue;
  }
/* admin :create new blog form */
.create {
max-width: 400px;
margin: 0 auto;
text-align: center;
}
.create label {
text-align: left;
display: block;
}
.create h2 {
font-size: 20px;
color: #f1356d;
margin-bottom: 30px;
}
.create input, .create textarea, .create select {
width: 100%;
padding: 6px 10px;
margin: 10px 0;
border: 1px solid #ddd;
box-sizing: border-box;
display: block;
}

.blog-title{
color:rgb(24, 57, 59)
}

/* titles of the blog's content */
.cat-title h1 {

color:rgb(35, 8, 155);
font-size: 30px;
text-align: center;
margin-top: 30px;
margin-bottom: 40px ;
}

.cat-title img{
width: 300px;
height: 200px;  
border-radius: 8px;
box-shadow: 0 1px 5px 0 rgba(95, 27, 27, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}


/* title and img of the last post */
.last-title h1 {

text-align: center; 
margin-top: 20px;
margin-bottom: 30px;
color:rgb(18, 89, 109);
}
.last-title img {

width: 300px;
height: 200px;  
border-radius: 8px;
box-shadow: 0 1px 5px 0 rgba(95, 27, 27, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

.title-gen h1 {

text-align: center; 
margin-top: 20px;
margin-bottom: 30px;
color:rgb(18, 89, 109);
}
/* home page */
.person h1, h2{

color: rgb(49, 16, 20);
font-size: 30px;
text-align: center;
margin-bottom: 20px;
}

.person  h3, h2{

  color: rgb(209, 164, 170);
  font-size: 20px;
  text-align: center;
  
  
  }

  .home img{

   margin-left: 100px; 
  }

  .social-links a img{
 margin-left: 180px;
 margin-top: 150px; 

  }